name: Release

on:
  push:
    tags:
      - "v*"

env:
  PROJ: "TazUOLauncher/TazUOLauncher.csproj"
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            rid: win-x64
          - os: ubuntu-latest
            rid: linux-x64
          - os: macos-latest
            rid: osx-arm64
          - os: macos-15-intel
            rid: osx-x64

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Publish
        run: dotnet publish ${{ env.PROJ }} -c Release -r ${{ matrix.rid }} --self-contained -o publish

      - name: Set executable permission
        if: runner.os != 'Windows'
        run: chmod +x publish/*

      - name: Zip output
        uses: thedoctor0/zip-release@master
        with:
          type: zip
          directory: publish
          filename: TUO-Launcher-${{ matrix.rid }}.zip

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: TUO-Launcher-${{ matrix.rid }}
          path: publish/TUO-Launcher-${{ matrix.rid }}.zip

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: artifacts/*/TUO-Launcher-*.zip
